div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

body{
    background-color: darkseagreen;
}
p{
    border: 3px solid black;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}